<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="backPage()">
        <ion-icon name="arrow-back" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'map.title' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="!networkConnected" class="offlineButton">
        <ion-icon name="cloud-offline-outline" slot="start"></ion-icon>
      </ion-button>
        <ion-button (click)="openMenu()">
          <ion-icon slot="icon-only" name="person"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="map-content">
  <ion-fab slot="fixed" vertical="top" horizontal="end">
    <ion-fab-button (click)="openTocModal()" *ngIf="!geomEdition">
      <ion-icon name="layers"></ion-icon>
    </ion-fab-button>
    <!-- Botones condicionales según procendencia -->
    <ng-container *ngIf="!downloadMap; else downloadBtn">
      <ion-fab-button (click)="createNewFeature()" [disabled]="!activeEdition" [ngClass]="{'disabled-btn' : !activeEdition}" *ngIf="!geomEdition">
        <ion-icon size="large" name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="!offlineMap && !geomEdition" (click)="saveAllFeatures()" [disabled]="isFeatureEditionsEmpty()"
        [ngClass]="{'disabled-btn' : isFeatureEditionsEmpty()}">
        <ion-icon name="cloud-upload"></ion-icon>
      </ion-fab-button>
    </ng-container>
    <ng-template #downloadBtn>
      <ion-fab-button (click)="saveMap()" *ngIf="!geomEdition">
        <ion-icon name="cloud-download"></ion-icon>
      </ion-fab-button>
    </ng-template>
    <ion-fab-button (click)="saveGeom()" *ngIf="geomEdition" class="green-btn">
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="cancelGeomEdition()" *ngIf="geomEdition" class="red-btn">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab slot="fixed" vertical="top" horizontal="start">
    <ion-fab-button *ngIf="!geomEdition && bgTreeData.length > 0" (click)="openBgModal()">
      <ion-icon name="grid"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="geomEditionPin" *ngIf="geomEdition">
    <ion-icon name="pin" size="large"></ion-icon>
  </div>

  <div #map id="map"></div>

  <ion-modal #modal [isOpen]="isTocModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Capas</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeTocModal()">
              <ion-icon name="close" size="large"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <div class="tree-container">
          <ul class="list-group">
            <ng-container *ngFor="let node of layersTreeData">
              <li class="list-group-item">
                <div class="d-flex align-items-center">
                  <button class="btn btn-link p-0 me-2 eye" [ngClass]="{'visible': node.visible}" (click)="toggleVisible(node)">
                    <ion-icon size="large" name="eye"></ion-icon>
                  </button>             
                  {{ node.name | translate }}
                  <button class="btn btn-sm btn-link p-0 me-2 pos-end" *ngIf="node.children && node.children.length > 0" (click)="toggleExpand(node)">
                    <ion-icon size="large" [name]="node.expanded ? 'chevron-down' : 'chevron-forward'"></ion-icon>
                  </button>
                </div>
                <ul class="list-group ms-4" *ngIf="node.expanded && node.children">
                  <ng-container *ngTemplateOutlet="recursiveList; context:{ nodes: node.children }"></ng-container>
                </ul>
              </li>
            </ng-container>
          </ul>
          
          <ng-template #recursiveList let-nodes="nodes">
            <ng-container *ngFor="let child of nodes">
              <li class="list-group-item">
                <div class="d-flex align-items-center">
                  <button class="btn btn-link p-0 me-2 eye" [ngClass]="{'visible': child.visible}" (click)="toggleVisible(child)">
                    <ion-icon size="large" name="eye"></ion-icon>
                  </button> 
                  {{ child.name }}
                  <!-- Botones según procendencia -->
                  <ng-container *ngIf="!downloadMap">
                    <div *ngIf="child.children.length === 0 && child.action" style="width: 100%;">
                      <!-- <input  type="checkbox" class="form-check-input me-2 pos-end" [(ngModel)]="child.checked" (change)="toggleCheck(child)" /> -->
                        <ion-buttons class="d-flex justify-content-end">
                          <ion-button *ngIf="featureEditions[child.action]" 
                            [disabled]="offlineMap" size="small" fill="solid" class="save-btn" (click)="saveFeaturesByLayerId(child.action)">
                            <ion-icon name="cloud-upload"></ion-icon>
                          </ion-button>
                          <ion-button size="small" class="edit-btn" fill="solid" [ngClass]="{'active' : child.checked}" (click)="toggleCheck(child)">
                            <ion-icon name="create-outline"></ion-icon>
                          </ion-button>
                        </ion-buttons>                   
                    </div>                    
                  </ng-container>
                    <button *ngIf="child.children && child.children.length > 0" class="btn btn-sm btn-link p-0 me-2 pos-end" (click)="toggleExpand(child)">
                      <ion-icon size="large" [name]="child.expanded ? 'chevron-down' : 'chevron-forward'"></ion-icon>
                    </button>
                </div>
                <div *ngIf="child.children && child.children.length == 0" class="mb-2 mx-auto" style="width: 80%;">
                  <ion-range aria-label="Transparency" min="0.0" max="1.0" step="0.1" [pin]="true" [pinFormatter]="formatPin" [value]="child.transparency" (ionChange)="changeOpacity($event, child)"></ion-range>
                </div>  
                <ul class="list-group ms-4" *ngIf="child.expanded && child.children && child.children.length > 0">
                  <ng-container *ngTemplateOutlet="recursiveList; context:{ nodes: child.children }"></ng-container>
                </ul>
              </li>
            </ng-container>
          </ng-template>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal #modal [isOpen]="isBgModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Capas de fondo</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeBgModal()">
              <ion-icon name="close" size="large"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <div class="tree-container">
          <ul class="list-group">
            <ng-container *ngFor="let node of bgTreeData">
              <div class="row align-items-center layer-row">
                <div class="col-4 my-auto">
                  <ion-img class="img-background img-cover" src="{{node.image || '../../assets/icon/no-image.jpg'}}"></ion-img>
                </div>
                <div class="col-7">
                  <div class="text-dark">           
                    {{ node.name }}                    
                  </div>
                </div>
                <div class="col-1">
                  <!-- Checkbox según procendencia -->
                  <ng-container *ngIf="!downloadMap">
                    <input type="checkbox" class="form-check-input bg-check" [(ngModel)]="node.checked" (change)="toggleBgCheck(node, $event)" />
                  </ng-container>
                </div>
              </div>
            </ng-container>
          </ul>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal #modal [isOpen]="isFeatureModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title *ngIf="newPoint">{{ 'map.addPoint' | translate }}</ion-title>
          <ion-title *ngIf="!newPoint">{{ 'map.editPoint' | translate }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeFeatureModal(true)">
              <ion-icon name="close" size="large"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <div class="container">
          <div class="row">
            <div class="col-2">
              <ion-button shape="round" class="dl-btn mx-auto" (click)="editGeometry()">
                <ion-icon slot="icon-only" name="location"></ion-icon>
              </ion-button>
            </div>
            <div class="col-2">
              <ion-button class="dl-btn mx-auto camera-btn" shape="round" (click)="selectImg()" [hidden]="cameraBtnDisabled">
                  <ion-icon slot="icon-only" name="camera"></ion-icon>
                </ion-button>
            </div>
            <div class="col-4"></div>
            <div class="col-2">
              <ion-button shape="round" class="save-feat-btn mx-auto" [ngClass]="{ 'unsaved': unsavedChanges }" (click)="onSaveModal()">
                <ion-icon slot="icon-only" name="save"></ion-icon>
              </ion-button>
            </div>
            <div class="col-2">
              <ion-button shape="round" class="del-feat-btn mx-auto" (click)="onDeleteModal()">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-button>
            </div>
          </div>
          <div class="row attr-container">
            <div class="row feature-attr">           
              <div *ngIf="imageValue" class="position-relative d-inline-block feature-attr">
                <ion-img [src]="imageValue" alt="Imagen Previsualizada" class="w-100" style="max-width: 70vw;"></ion-img>
                <ion-button fill="outline" color="light" class="position-absolute top-0 end-1 m-1" (click)="removeImg()" style="right: 0;">
                  <ion-icon name="trash" size="small" slot="icon-only"></ion-icon>
                </ion-button>           
              </div>              
              <ion-text color="danger" *ngIf="errorImg.length > 0">
                <p *ngFor="let error of errorImg" class="ion-padding-start"> {{ 'map.' + error | translate }} </p>
              </ion-text>        
            </div>
            <div class="row feature-attr">
              <form [formGroup]="featureAttrForm">
                <ng-container *ngFor="let ad of attrData">
                  <ng-container *ngIf="ad.editable">
                    <ion-item *ngIf="ad.type === 'text'">
                      <ion-input label="{{ad.label}}" [formControlName]="ad.key" [required]="ad.required" labelPlacement="stacked" class="mx-auto co-black"></ion-input>
                    </ion-item>
                    <ion-item *ngIf="ad.type === 'number'">
                      <ion-input type="number" label="{{ad.label}}" [formControlName]="ad.key" [required]="ad.required" labelPlacement="stacked" class="mx-auto co-black"></ion-input>
                    </ion-item>
                    <ion-item *ngIf="ad.type === 'image'">
                      <ion-input type="text" label="{{ad.label}}" [formControlName]="ad.key" [required]="ad.required" labelPlacement="stacked" class="mx-auto co-black" aria-disabled></ion-input>
                    </ion-item>
                    <ion-item *ngIf="ad.type === 'listbox'">
                      <ion-select class="text-dark" label="{{ad.label}}" [formControlName]="ad.key" [required]="ad.required" labelPlacement="stacked" interface="popover">
                        <ng-container *ngFor="let lv of ad.listValues">
                          <ion-select-option value="{{lv.id}}">{{lv.text}}</ion-select-option>
                        </ng-container>
                      </ion-select>
                    </ion-item>
                    <ion-item  *ngIf="ad.type === 'date'">
                      <ion-label>{{ad.label}}</ion-label>
                      <ion-datetime-button [datetime]="ad.key + 'dt'"></ion-datetime-button>
                    </ion-item>
                  </ng-container>
                </ng-container>
              </form>
            </div>
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

  <app-profile-modal #profileModal></app-profile-modal>

  <ng-container *ngFor="let ad of attrData">
    <ion-modal [keepContentsMounted]="true" *ngIf="ad.type === 'date'">
      <ng-template>
        <ion-datetime [id]="ad.key + 'dt'" presentation="date" [ngModel]="featureAttr[ad.key]"
          locale="es-ES" [firstDayOfWeek]="1" [showDefaultButtons]="true"
          [doneText]="'map.doneText' | translate" [cancelText]="'map.cancelText' | translate"
          (ionChange)="onFeatureDateChange(ad.key, $event)">
        </ion-datetime>
      </ng-template>
    </ion-modal>
  </ng-container>

  <ion-modal #modal [isOpen]="isSaveModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Errores en guardado</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeSaveModal()">
              <ion-icon name="close" size="large"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <ion-text color="danger" *ngIf="saveErrors.length > 0">
                <p *ngFor="let error of saveErrors" class="ion-padding-start"> {{ error }} </p>
              </ion-text>
            </div>
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>

