<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button *ngIf="!networkConnected" class="offlineButton">
        <ion-icon name="cloud-offline-outline" slot="start"></ion-icon>
        {{'offline' | translate}}
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-select [(ngModel)]="selectedLanguage" (ionChange)="setLanguage($event.detail.value)"
                  interface="popover" class="text-white">
        <ion-select-option *ngFor="let lang of languageOptions" [value]="lang.code">
          {{ lang.name }}
        </ion-select-option>
      </ion-select>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
      <div class="ion-padding" style="display: flex; justify-content: flex-end;">
          <ion-button id="instance-settings" class="instanceBtn" (click)="openInstance()">
            <ion-icon size="large" name="cog"></ion-icon>
          </ion-button>
      </div>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <div class="logo-content">
          <ion-img src="../../assets/icon/logo_sitmun.png"></ion-img>
        </div>
      </div>
      <div class="col"></div>
    </div>
    <div class="row">
      <form [formGroup]="loginForm" (ngSubmit)="access()">
        <div class="container">
          <div class="row" *ngIf="networkConnected">
            <div class="col">
              <ion-input id="login-user" class="login-input mx-auto" [placeholder]="'home.user' | translate" formControlName="user">
                <ion-icon class="login-icon-left" slot="start" name="person"size="large"></ion-icon>
              </ion-input>
            </div>
          </div>
          <div class="row" *ngIf="networkConnected">
            <div class="col">
              <ion-input id="login-password" class="login-input mx-auto" [placeholder]="'home.password' | translate" type="password" formControlName="password">
                <ion-icon class="login-icon-left" slot="start" name="lock-closed" size="large"></ion-icon>
                <ion-input-password-toggle class="login-icon-right" slot="end"></ion-input-password-toggle>
              </ion-input>
            </div>
          </div>
          <div class="row" *ngIf="!networkConnected">
            <div class="col">
              <ion-select id="instance-selector" class="login-input mx-auto text-center" [placeholder]="'home.user' | translate"
              [attr.aria-label]="'home.user' | translate" interface="action-sheet" formControlName="user"
              cancelText="{{ 'home.cancel' | translate }}" [interfaceOptions]="{ header: 'home.selectUser' | translate }">
                <ion-select-option *ngFor="let user of offline.users" value="{{user}}">{{user}}</ion-select-option>
              </ion-select>
            </div>
          </div>
          <div class="row error" id="login-error" role="alert" aria-atomic="true">
            <div class="mx-auto" [hidden]="!loginError">
              {{ errorMsgKey | translate }}
            </div>
          </div>
          <div class="row">
            <div class="col mx-auto">
              <ion-button id="login-access" class="access-btn" shape="round" type="submit">{{ 'home.access' | translate }}</ion-button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <ion-modal class="instanceModal" [isOpen]="isModalOpen" (ionModalDidDismiss)="closeModal()">
    <ng-template>
      <div class="text-center" id="content">
        <div class="row">
          <h1 class="co-black">{{ 'home.instanceSelection' | translate }}</h1>
        </div>
        <div class="row">
          <ion-input id="instance-url" class="mx-auto co-black" type="url" [(ngModel)]="instanceDB"></ion-input>
        </div>
        <div class="row mx-auto">
          <ion-button id="instance-register" (click)="saveInstance()">{{ 'home.registerInstance' | translate }}</ion-button>
        </div>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>
