/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

ion-header ion-toolbar,
ion-footer ion-toolbar,
ion-menu ion-toolbar {
  --background: orange;
  text-align: center;
}

ion-header ion-title {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.list-img-container {
    border-radius: 20%;
    overflow: hidden;
}

.list-img, .list-img-container {
    height: 23vw;
    width: 23vw;
}

.img-cover {
    object-fit: cover;
}

.dl-btn {
    --color: white;
    --background: orange;
    --border-radius: 50%;
}

.disabled-btn{
    --background: grey !important;
    color: white;
}

.row.split {
    border-top: 0.1rem solid grey;
}

.co-black {
    color: black;
    --color: black;
}

.offlineButton {
    color: red !important;
}

ion-modal.profile-modal {
    ion-content {
        --background: white;
    }
    ion-list{
        background-color: white !important;    

        ion-icon{
            color: orange;
        }        

        ion-item, ion-select{
            --background: white;
            color: black;
        }

    }

    .menu-btn{
        --background: orange;
        color: white;
        width: auto;
    }
}

@media only screen and (max-width: 1400px) {
    .m-popup.m-collapsed {
        top: calc(100vh - 112px) !important;
    }
    .m-popup.m-full {
        top: 45vh !important;
    }
    .m-popup > div.m-content > div.m-body {
        height: 38vh !important;
    }

    .list-img-sm, .list-img-container-sm {
        height: 20vw;
        width: 20vw;
    }

    .modal-img {
        padding: 25vw;
    }
}

.m-areas>div.m-area>div.m-panel.m-plugin-information {
    display: none !important;
}